@font-face {
  font-family: 'Radikal';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Radikal.woff2") format("woff2"),
       url("../fonts/Radikal.woff") format("woff");
}
@font-face {
  font-family: 'Radikal';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Radikal-Italic.woff2") format("woff2"),
       url("../fonts/Radikal-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Radikal';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Radikal-Bold.woff2") format("woff2"),
       url("../fonts/Radikal-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Radikal';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Radikal-Bold-Italic.woff2") format("woff2"),
       url("../fonts/Radikal-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Radikal';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Radikal-Black.woff2") format("woff2"),
       url("../fonts/Radikal-Black.woff") format("woff");
}
@font-face {
  font-family: 'Radikal';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Radikal-Black-Italic.woff2") format("woff2"),
       url("../fonts/Radikal-Black-Italic.woff") format("woff");
}
